<body>
  <div class="about">
    遊び方
  </div>
  <div class="discription">
    <div class="about-title-box">
    <p class="about-title">その1</p>
    </div>
    <p class="about-detail">気軽に話しかけてみましょう!!!<span class="detail-point">(例:こんにちは、よろしくね！)</span></p>
    <div class="about-title-box">
    <p class="about-title">その2</p>
    </div>
    <p class="about-detail">姫or囲いの気持ちになりきって相手を褒めましょう!!!<span class="detail-point">(喜んでくれるかも…?)</span></p>
    <div class="about-title-box">
    <p class="about-title">その3</p>
    </div>
    <p class="about-detail">悩みを相談してみましょう!!!<span class="detail-point">(励ましてくれるかも…?)</span></p>
    <div class="about-title-box">
    <p class="about-title">その4</p>
    </div>
    <p class="about-detail">彼、彼女との関係は永遠ではありません。それゆえに、尊い関係性なのです。<span class="detail-point">（好意をぶつけるとブロックされちゃったり、無意識にしちゃうかも)</span></p>

  </div>
  <div class="aboutimage-box">
    <%= image_tag("exampleimage.png", {:class => "about-image"})%>
  <p>※この会話は一つの例にしかすぎません。</p>
  </div>
  <div class="title-back">
    <p class="titleback-button"><%= link_to "タイトルに戻る", root_path %></p>
  </div>

</body>