<div class="title"> 
  <span class="title-text">Crash Chat</span>
</div>
<div class="welcome">
  <%= image_tag ("crusher.png"), :class => "title-image" %>
  <span class="start"><%= link_to 'はじめる', room_path %></span>
</div>

