<div class="form">
  <%= form_for(@message) do |f| %>
    <%= f.text_area :text, cols:"80", placeholder:"○×式場について気になる情報を聞いてみましょう！", rows:"3", required: true %>
    <%= f.hidden_field :room_id, value: @room.id %>
    <%= f.submit "メッセージを投稿", :class =>"btn btn-primary" %>
  <% end %>
</div>