<div class="chat-room">
  <div class="chat-room-header">
    <div class="room-title">お話しゲーム</div>
  </div>
    <div class="chat-body">
      <% if @messages %>
        <% @messages.each do |message| %>
          <% if message.clusher == false %>
            <div class="chat-user">
              <span class="user-text"><%= message.text %></span>
            </div>
          <% else %>
            <div class="chat-crusher">
              <span class="crusher-text"><%= message.text %></span>
            </div>
          <% end %>
        <% end %> 
      <% end %>
    </div>

  <div class="message-form">
    <%= render partial: 'messages/new', message: @message, room: @room %>
  </div>
</div>