@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #ffffff;
}

textarea{
  resize: none;
  border: solid 1px;
  border-radius: 10px;
  @media screen and (max-width: 640px) {
  width: 80%;
  height: 2.5em;
  }

}

.welcome {
  font-size: 30px;
  text-align: center;
  padding-top: 200px;
  color: #ffb6c1;
}
.about-page {
  text-align: center;
  padding-top: 20px;
}
.about-button {
  font-size: 30px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: dashed 1px #67c5ff;
  background: #f2fcff;
  border-radius: 3px;
  transition: .4s;
  @media screen and (max-width: 640px) {
  font-size: 25px;
  }
}

.about-button:hover {
    background: #cbedff;
    color: #FFF;
}

.title-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  @media screen and (max-width: 640px) {
  margin-top: 40px;
  }
}

.about-flex {
  display: flex;
  justify-content: center;
  align-items: center;

}


.title-text {
  font-size: 70px;
  color: #ec6085;
  padding-top: 30px;
  border-bottom: double 3px #e61612;
  font-family: "ＭＳ Ｐゴシック","ＭＳ ゴシック",sans-serif;
  @media screen and (max-width: 640px) {
  font-size: 50px;
  }
}
.title {
  text-align: center;

}
.title-image {
  width: 256px;
  height: 256px;
  border: 3px solid #150c0c;
  @media screen and (max-width: 640px) {
  width: 128px;
  height: 128px;
  }
}

.homeback {
  margin-top: 15px;
  text-align: center;
}
.homeback-button {
  font-size: 15px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: dashed 1px #67c5ff;
  background: #f2fcff;
  border-radius: 3px;
  transition: .4s;
}

.kakoi-in {
  margin-left: 100px;
  @media screen and (max-width: 640px) {
  margin-left: 50px;
  }
}
.title-wrapper {
  margin-top: 30px;
}

.crasher-start-text {
  font-size: 20px;
  color: pink; 
  text-align: center; 
  font-family: "ＭＳ Ｐゴシック","ＭＳ ゴシック",sans-serif;
  @media screen and (max-width: 640px) {
  font-size: 20px;
  }
}
.kakoi-start-text {
  font-size: 20px;
  color: pink;
  text-align: center; 
  font-family: "ＭＳ Ｐゴシック","ＭＳ ゴシック",sans-serif;
  @media screen and (max-width: 640px) {
  font-size: 20px;
  }
}
